<nz-layout>
  <img id="header-image" nz-image nzSrc="assets/966c94864d83882add75b29463d793b0.png">
  <nz-divider></nz-divider>
  <nz-content style="margin-bottom: 200px">
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" class="content-container">
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <img id="img-capa1" nz-image nzSrc="assets/15a447f1157958b914ba5e7075a30ac7.png">
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <img id="img-capa2" nz-image nzSrc="assets/6549f0dd1251f92cfeb733a2d0a03a0a.png">
        </div>
      </div>
    </div>
  </nz-content>
  <nz-footer>
    <div class="footer-container" style="background-color: #5271FF">
      <div class="block-text">
        <h2>
          Quem Somos?
        </h2>
        <p>
          Criamos este site como projeto final para na disciplina de<br>
          multimídia no curso de Licenciatura em Ciência da Computação<br>
          na UFPB - Campus - IV;<br>
        </p>
      </div>
      <div class="block-text">
        <h2>
          Contatos
        </h2>
        <ul>
          <li class="display-row">
            <i nz-icon [nzType]="'instagram'"></i><p>@camilatereza1</p>
          </li>
          <li class="display-row">
            <i nz-icon [nzType]="'instagram'"></i><p>@_liviafrancaa</p>
          </li>
          <li class="display-row">
            <i nz-icon [nzType]="'instagram'"></i><p>@jose_ivo_lima</p>
          </li>
          <li class="display-row">
            <i nz-icon [nzType]="'instagram'"></i><p>@danilrpb</p>
          </li>
          <li class="display-row">
            <i nz-icon [nzType]="'instagram'"></i><p>@joallysonf</p>
          </li>
        </ul>
      </div>
      <div class="block-text">
        <h2>
          Nosso Intuito
        </h2>
        <p>
          Abordar a inclusão de surdos na sociedade em diferentes<br>
          ambientes do nosso dia a dia e suas dificuldades, conscientizando<br>
          os leitores de forma lúdica para crianças, adolescêntes e pais.<br>
        </p>
      </div>
    </div>

  </nz-footer>
</nz-layout>
